<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <!--<import resource="others.xml"/>-->
    <bean id="event" class="com.yet.spring.core.beans.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>
    <!--<import resource="loggers.xml"/>-->
    <bean id="consoleEventLogger" class="com.yet.spring.core.loggers.ConsoleEventLogger" scope="singleton"/>

    <bean id="fileEventLogger" class="com.yet.spring.core.loggers.FileEventLogger" init-method="init">
        <constructor-arg value="logOutFile.txt" type="java.lang.String"/>
    </bean>

    <bean id="cacheFileEventLogger" class="com.yet.spring.core.loggers.CacheFileEventLogger" destroy-method="destroy" parent="fileEventLogger">
        <constructor-arg value="logOutFile.txt" type="java.lang.String"/>
    </bean>

    <bean id="combinedEventLogger" class="com.yet.spring.core.loggers.CombineEventLogger"/>

    <bean id="client" class="com.yet.spring.core.beans.Client">
        <constructor-arg index="0" value="3" type="int"/>
        <constructor-arg value="Paul"/>
        <property name="geeting" value="Hello there from Spring!"/>
    </bean>
    <bean id="app" class="com.yet.spring.core.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="fileEventLogger"/>
        <constructor-arg>
            <map>
                <entry key="INFO" value="consoleEventLogger"/>
                <entry key="ERROR" value="combineEventLogger"/>
            </map>
        </constructor-arg>
    </bean>

    <!--<bean id="combinedEventLogger" class="...">-->
    <!--<constructor-arg>-->
        <!--<list>-->
            <!--<ref bean="consoleEventLogger"/>-->
            <!--<ref bean="fileEventLogger"/>-->
        <!--</list>-->
    <!--</constructor-arg>-->
    <!--<bean>-->
</beans>